---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Augustin Sorel"
  description="View my portfolio, qualifications, experiences, skills and projects!"
>
  <h1>hello world</h1>
</Layout>

<style lang="scss"></style>
