<header>
  <h1>augustin sorel</h1>
  <p>web developer</p>
</header>

<style lang="scss">
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--gap-medium);
    height: var(--header-height);

    position: sticky;
    top: 0;
    border-bottom: 1px solid currentColor;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 100;
  }

  h1,
  p {
    font-weight: 400;
    font-size: var(--font-size-small);
    text-transform: capitalize;
  }
</style>
