---
---

<header>
  <h1>augustin sorel</h1>
  <p>web developer</p>
</header>

<style lang="scss">
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px currentColor solid;
  }

  h1,
  p {
    font-weight: 400;
    font-size: var(--font-size-small);
    text-transform: capitalize;
    padding: var(--gap-small) var(--gap-medium);
  }
</style>
