<header>
  <h1>augustin sorel</h1>
  <p>web developer</p>
</header>

<style lang="scss">
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--gap-medium);
    height: var(--header-height);
  }

  h1,
  p {
    font-weight: 400;
    font-size: var(--font-size-small);
    text-transform: capitalize;
  }
</style>
