---
import SectionList from "./SectionList.astro";
import SectionListItem from "./SectionListItem.astro";
---

<SectionList title="selected projects">
  <SectionListItem
    title="portfolio"
    date="June 2022 - Present"
    href="/projects/portfolio"
  >
    <p>astro — ts — sass</p>
  </SectionListItem>

  <SectionListItem
    title="gym tracker"
    date="June 2022 - Present"
    href="/projects/gym-tracker"
  >
    <p>nextjs — trpc — postgresql — ts — aws</p>
  </SectionListItem>

  <SectionListItem
    title="instagram clone"
    date="June 2022 - Present"
    href="/projects/instagram-clone"
  >
    <p>reactjs — nodejs — mongodb — ts</p>
  </SectionListItem>

  <SectionListItem
    title="multiplayer tic-tac-toe"
    date="June 2022 - Present"
    href="/projects/multiplayer-tic-tac-toe"
  >
    <p>reactjs — nodejs — socketio — ts</p>
  </SectionListItem>

  <SectionListItem
    title="DFS visualizer"
    date="June 2022 - Present"
    href="/projects/dfs-visualizer"
  >
    <p>c# — wpf — xaml</p>
  </SectionListItem>

  <SectionListItem
    title="sorting algorithm visualizer"
    date="June 2022 - Present"
    href="/sorting-algorithm-visualizer"
  >
    <p>c# — wpf — xaml</p>
  </SectionListItem>
</SectionList>

<!-- TODO: project page -->

<style lang="scss">
  p {
    font-size: var(--font-size-small);
    text-transform: uppercase;
  }
</style>
