---
import SectionLayout from "../layouts/SectionLayout.astro";
import SectionItemLayout from "../layouts/SectionItemLayout.astro";
---

<SectionLayout title="selected projects">
  <SectionItemLayout
    title="portfolio"
    date="December 2022 - Present"
    href="/projects/portfolio"
  >
    <p>astro — ts — sass</p>
  </SectionItemLayout>

  <SectionItemLayout
    title="gym tracker"
    date="August 2022 - November 2022"
    href="/projects/gym-tracker"
  >
    <p>nextjs — trpc — postgresql — ts — aws</p>
  </SectionItemLayout>

  <SectionItemLayout
    title="instagram clone"
    date="April 2022 - July"
    href="/projects/instagram-clone"
  >
    <p>reactjs — nodejs — mongodb — ts</p>
  </SectionItemLayout>

  <SectionItemLayout
    title="multiplayer tic-tac-toe"
    date="February 2022 - April"
    href="/projects/multiplayer-tic-tac-toe"
  >
    <p>reactjs — nodejs — socketio — ts</p>
  </SectionItemLayout>

  <SectionItemLayout
    title="sorting algorithm visualizer"
    date="May 2021 - July"
    href="/sorting-algorithm-visualizer"
  >
    <p>c# — wpf — xaml</p>
  </SectionItemLayout>

  <SectionItemLayout
    title="DFS visualizer"
    date="February 2021 - March"
    href="/projects/dfs-visualizer"
  >
    <p>c# — wpf — xaml</p>
  </SectionItemLayout>
</SectionLayout>

<!-- TODO: project page -->

<style lang="scss">
  p {
    font-size: var(--font-size-small);
    text-transform: uppercase;
  }
</style>
