<li>
  <slot />
</li>

<style lang="scss">
  li {
    font-size: var(--font-size-small);
    list-style-type: disc;
    list-style-position: inside;

    &:not(:first-child) {
      margin-top: var(--gap-extra-small);
    }
  }
</style>
